In [2]:
import pandas as pd 
import matplotlib

In [7]:
gaGar = "data/georgia_GRAD_RATES.csv"
nyGar = "data/NYS_GRAD_RATES.csv"

gaGar_df = pd.read_csv(gaGar)

gaGar_df.head()

,school_year,aggregation_type,county_name,school_name,subgroup_name,enroll_cnt,grad_cnt,drop_cnt,grad_pct,drop_pct
0,2019-20,District,Lowndes County,All Column Values,Asian/Pacific Islander,10,10,0,1.0,0.0
1,2019-20,District,Taliaferro County,All Column Values,Students without Disability,10,10,0,1.0,0.0
2,2019-20,District,White County,All Column Values,Hispanic,10,10,0,1.0,0.0
3,2019-20,District,Calhoun City,All Column Values,Asian/Pacific Islander,10,10,0,1.0,0.0
4,2019-20,District,Cartersville City,All Column Values,Multiracial,10,10,0,1.0,0.0